services:
  postgres:
    image: postgres:16-alpine
    environment:
      POSTGRES_DB: courseplatform
      POSTGRES_USER: postgres
      POSTGRES_PASSWORD: 1234
    ports:
      - "5432:5432"
    volumes:
      - pgdata:/var/lib/postgresql/data


  elasticsearch:
    image: docker.elastic.co/elasticsearch/elasticsearch:8.17.0
    environment:
      - discovery.type=single-node
      - xpack.security.enabled=false
      - ES_JAVA_OPTS=-Xms512m -Xmx512m
    ports:
      - "9200:9200"
    volumes:
      - esdata:/usr/share/elasticsearch/data


  app:
    build:
      context: .
      args:
        PROFILE: ${PROFILE:-prod}
    ports:
      - "8080:8080"
    environment:
      SPRING_PROFILES_ACTIVE: ${PROFILE:-prod}
      DATABASE_URL: jdbc:postgresql://postgres:5432/courseplatform
      DB_USERNAME: postgres
      DB_PASSWORD: 1234
      ELASTICSEARCH_URL: http://elasticsearch:9200
      JWT_SECRET: docker-compose-secret-key-that-is-at-least-256-bits-long-for-hs256

volumes:
  pgdata:
  esdata:
