spring:
  datasource:
    url: ${DATABASE_URL}
    username: ${DB_USERNAME:postgres}
    password: ${DB_PASSWORD:postgres}
  jpa:
    hibernate:
      ddl-auto: update
    show-sql: false
server:
  forward-headers-strategy: framework

elasticsearch:
  url: ${ELASTICSEARCH_URL:http://localhost:9200}
  apikey: ${ELASTICSEARCH_APIKEY:}
