spring:
  application:
    name: backend
  profiles:
    active: dev
  jpa:
    hibernate:
      ddl-auto: update
    open-in-view: false

jwt:
  secret: ${JWT_SECRET:default-dev-secret-key-that-is-at-least-256-bits-long-for-hs256}
  expiration: 86400000

springdoc:
  swagger-ui:
    path: /swagger-ui.html
